

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header, footer {
    background-color:#a9cbb7;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

main {
    padding: 20px;
    text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1.5em;
  justify-content: center;
  flex-wrap: wrap;
}

nav a {
  text-decoration: none;
  color: #2f4f2f; /* Forest green */
  font-weight: bold;
  font-size: 1.1rem;
}

nav a:hover {
  text-decoration: underline;
}

.logo {
  width: 30%;        
  max-width: 300px;  
  height: auto;     
  display: block;
  margin: 0 auto 20px auto; 
}

footer {
    background-color: #c96e49;
}
